@model PcComponentsShop.UI.Models.CatalogViewModel<PcComponentsShop.Domain.Core.Basic_Models.SSDDrive>
@using PcComponentsShop.UI.Helpers
<section class="container-fluid">
    @CatalogHelpers.ShowGoods(Model.Goods)
</section>
@if (Model.PageInfo.TotalPages > 1)
{
<div class="row">
    <div class="col-12">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("SSDDrives", new { page = x }))
    </div>
    </div>
    }
